/* Creating margin and padding for the html and body */
html, body {
    margin: 0;
    padding: 0;
}

/* Creating the display of the canvas */
canvas {
    display: block;
}

#scoreboard {
    text-align: center;
}

#instructions {
    text-align: center;
}

.aBtn {
    margin: 5px;
    width: 125px;
    height: 75px;
}

#btn {
    width: 125px;
    height: 75px;  
}